<!DOCTYPE html>
{% load static %}

<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="login-page">

<div class="login-box">
    <h1>GTA V</h1>
    <p class="subtitle">Login to your account</p>
    <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>

  <button type="submit">login</button>
    <a class="registerpage" href=http://127.0.0.1:8000/register/>Register</a>
    <a class="vergessen" href=http://127.0.0.1:8000/forgot-password>Forgot Password?</a>

</form>
</div>
</body>
</html>
