<!DOCTYPE html>
{% load static %}

<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'mapnet/style.css' %}">
</head>
<body class="login-page">

<form>
    <h2>Login</h2>

    <label for="username">Benutzername</label>
    <input type="text" name="username" placeholder="Benutzername" required>

    <label for="password">Passwort</label>
    <input type="password" name="password" placeholder="Passwort" required>

    <button type="submit">Einloggen</button>
</form>

</body>
</html>
