<!DOCTYPE html>
{% load static %}

<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="login-page">

<div class="login-box">
    <h1>GTA V</h1>
    <p class="subtitle">Login</p>
    <form>
        <input type="text" placeholder="Username" required>
        <input type="password" placeholder="Passwort" required>
        
        <div class="actions">
    <button type="submit">login</button>
  <a class="vergessen" href="https://youtu.be/dQw4w9WgXcQ?si=a3xGeMw7k2oqx715">forgot password</a>
</div>
</body>
</html>
