<!DOCTYPE html>
<html>
<head>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
<title>Registration</title>
</head>
<body class="register">

<div class="register-box">
    <h1>GTA V</h1>
    <p class="subtitle">Create Account</p>

    <form  method="post">
{% csrf_token %}
  {{ form.as_p }}
     
      <button type="submit">REGISTER</button>
      <a class="loginpage" href=http://127.0.0.1:8000/login/ >Login</a>
    </form>
  </div>

</body>
</html>
</body>
</html>